<% content_for "header" do %>Mass Import<% end %>
<% content_for "title" do %>Mass import | Control panel<% end %>
<main>
  <form method="post">
    <textarea name="s"></textarea>
    <input type=submit value="Create new">
  </form>
</main>